# Copyright (c) 2022 kien242
# SPDX-License-Identifier: MIT

config BOARD_ENABLE_DCDC
	bool "Enable DCDC mode"
	select SOC_DCDC_NRF52X
	default y
	depends on (BOARD_LMAO_NRF52840 || BOARD_LMAO_STM32F401)
