# Copyright (c) 2022 kien242
# SPDX-License-Identifier: MIT

config SHIELD_SOFLE_NUMPAD_LEFT
	def_bool $(shields_list_contains,sofle_numpad_left)

config SHIELD_SOFLE_NUMPAD_RIGHT
	def_bool $(shields_list_contains,sofle_numpad_right)
