/*
 * Copyright (c) 2022 kien242
 *
 * SPDX-License-Identifier: MIT
 */

#include "sofle_numpad.dtsi"

&default_transform {
	col-offset = <6>;
};

&kscan0 {
	col-gpios
		= <&stm32_arduino 10 GPIO_ACTIVE_HIGH>
		, <&stm32_arduino 16 GPIO_ACTIVE_HIGH>
		, <&stm32_arduino 14 GPIO_ACTIVE_HIGH>
		, <&stm32_arduino 15 GPIO_ACTIVE_HIGH>
		, <&stm32_arduino 18 GPIO_ACTIVE_HIGH>
		, <&stm32_arduino 19 GPIO_ACTIVE_HIGH>
		;
};

&right_encoder {
	status = "okay";
};
