/*
 * Copyright (c) 2022 kien242
 *
 * SPDX-License-Identifier: MIT
 */

#include "sofle_numpad.dtsi"

&default_transform {
	col-offset = <3>;
};

&kscan0 {
	col-gpios
		= <&stm32_arduino 24 GPIO_ACTIVE_HIGH>
		, <&stm32_arduino 25 GPIO_ACTIVE_HIGH>
		, <&stm32_arduino 18 GPIO_ACTIVE_HIGH>
		, <&stm32_arduino 6  GPIO_ACTIVE_HIGH>
		, <&stm32_arduino 28 GPIO_ACTIVE_HIGH>
		, <&stm32_arduino 29 GPIO_ACTIVE_HIGH>
		;

    row-gpios
        = <&stm32_arduino 8  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&stm32_arduino 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&stm32_arduino 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&stm32_arduino 30 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&stm32_arduino 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
};

&right_encoder {
        a-gpios = <&stm32_arduino 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&stm32_arduino 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        status = "okay";
};

&stm32_arduino_i2c0 {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        label = "DISPLAY";
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0x22>;
    };
};
